<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">#AskTheInternet</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/about" class="nav-item nav-link">About</a>
        </li>
        <li>
          <a href="/contact" class="nav-item nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
