<div class="well well-sm">
  <div class="row">
    <div class="col-md-8">
      {{question.query}}
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger" {{action 'delete' question}}>Delete Question</button>
    </div>
  </div>
</div>
