<div class="well well-sm question-well">
  <div class="row">

    <div class="col-md-10">
      {{#link-to 'question' question.id}}<h4 class="text-center">{{question.query}}<small> - {{question.author}}</small></h4>{{/link-to}} <span class="pull-right glyphicon glyphicon-paperclip"></span>
    </div>

  </div>
</div>
