body {
  background-color: lightblue;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  padding-top: 50px;

  li {
    list-style: none;
  }

  .header-well {
    font-family: 'VT323', monospace;
  }

  .well {
    margin: 5px;
  }

  .question-well {
    margin: 1em;

    .glyphicon-paperclip {
      font-size: 15px;
      position: absolute;
      top: 15px;
      margin-left: 92%;
    }
  }
}

.navbar {
  .navbar-header {
    margin-left: 45%;
  }
}

.container {
  width: 85%;

  input {
    width: 100%;
  }

  .sub-container {
    background-color: darkgrey;
    margin: 10px;
    padding: 2em;
  }

  .index-page {
    button {
      margin: 1em;
      height: 50px;
      width: 100%;
    }
  }
}
