body {
  background-color: lightblue;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  padding-top: 50px;

  li {
    list-style: none;
  }

  .header-well {
    font-family: 'VT323', monospace;
  }

  .well {
    margin: 5px;
  }

// QUESTION LIST WELLs

  .question-well {
    margin: 1em;

// PAPERCLIP GLYPH IN QUESTION TILE

    .glyphicon-paperclip {
      font-size: 18px;
      position: absolute;
      top: 12px;
      margin-left: 5%;
    }

    .glyphicon-paperclip:hover {
      color: red;
    }
  }

//FOLLOWED TOPICS ON INDEX PAGE
  .followed {
    margin: 1em;
    width: 100%;

    h4 {
      margin-top: -50px;
      color: red;

      span {
        color: black !important;
      }
    }
  }
}

//NAVBAR
.navbar {
  .navbar-header {
    margin-left: 45%;
  }
}

.container {
  width: 85%;

  input {
    width: 100%;
  }

  .sub-container {
    background-color: darkgrey;
    margin: 10px;
    padding: 2em;
  }

  .index-page {
    button {
      margin: 1em;
      height: 50px;
      width: 100%;
    }
  }
}
