<div class="container">
  <header class="well header-well">
    <!-- bw images of confused people as bookends -->
    <a href="/"><h2>Ask The Internet</h2></a>
    <p class="text-muted">You'll get an answer.</p>
  </header>
  {{outlet}}
  <footer>
    <!-- contact info -->
  </footer>
</div>
